/*123123*/

body {
     height:100%;
     direction: rtl;
     margin-left: 150px;
     margin-right: 150px;
     background-color: black;
     position:absolute;
}

.site-header{
	height: 165px;
}

.upper-header{
	height: 130px;
}

.logo{
	float: right;
	height: 130px;
	width: 191px;
	background-image: url(../Resources/Logo.jpg) ;
}

.advertisements{
	float: right;	
	height: 130px;
	width: 865px;
	border:1px blue solid;
}

.nav-bar{
	padding:5px 5px 5px 5px;
	height: 35px;
	width:1056px;
	border:1px white solid;
	color: white;
	
}
.main-container{
	padding-top: 25px;
	color: white;
	width:1066px;
}

.page-description{
	font-size: 22px;
	width:1066px;
	padding-bottom: 25px;
}

.new-auction-field{
	height: 30px;
	width: 1066px;
	float:right;
}

.new-auction-field-title{
	float:right;
	width: 120px;
}

.new-auction-field-input{
	width: 140px;
	height: 25px;
	margin-right: 20px;
	float:right;
}

.note-label{
	margin-right: 10px;
	color:gray;
	float:right;
	font-size: 13px;
}

.error-label-hidden{
	margin-right: 10px;
	color:red;
	float:right;
	font-size: 13px;
	display:none;
}

.error-label-displayed{
	margin-right: 10px;
	color:red;
	float:right;
	font-size: 13px;
}

#exceptions-description{
	width: 300px;
}

#add-new-auction-button{
	width: 100px;
	margin-top:25px;
	margin-right: 140px;
	margin-bottom: 100px;
}

.all-auctions-container{
	padding-top: 25px;
	color: white;
	width:866px;
}

.recomended-lines-container{
	padding-top: 25px;
	color: white;
	width:200px;
}

#musicStyle{
	height: 6em;
	overflow: auto;
	background-color: white;
	color:black;
}

.my-auction-container{
	height: 180px;
	width: 600px;
	border:1px blue solid;
	margin-bottom: 30px;
	margin-right: 200px;
	cursor:pointer;
		
}

.my-auction-title{
	border:1px blue solid;
	height:30px;
	background-color: gray;
	text-align: center;
	font-weight: bold;
}

.my-auction-description{
	border:1px blue solid;
	height:120px;
	word-break:break-all;
}

.my-auction-offer-number{
	border:1px blue solid;
	height:30px;
	background-color: purple;
	direction: rtl;
}

.offer-item-container{
	height: 180px;
	width: 600px;
	border:1px blue solid;
	margin-bottom: 30px;
	margin-right: 200px;
}

.offer-item-title{
	border-bottom:1px blue solid;
	height:30px;
	background-color: purple;
	width:598px;
}

.offer-item-left-title{
	margin-left: 5px;
	height:30px;
	float:left;
}

.offer-item-right-title{
	margin-right: 5px;
	height:30px;
	float:right;
}

.offer-item-content{
	height:148px;
	width:600px;
}

.offer-item-line-image-container{
	float:right;
	border-left:1px blue solid;
	height:148px;
	width:98px;
	cursor:pointer;	
}

.offer-item-line-image{
	height:148px;
	width:98px;
	float:right;
}

.offer-item-description{
	float:left;
	height:148px;
	width:480px;
	margin-left: 10px;
	cursor:pointer;	
	word-break:break-all;	
}

.offer-item-reviewed-container{
	width: 800px;
	border:1px blue solid;
	margin-bottom: 20px;
}

.offer-item-reviewed-title{
	border-bottom:1px blue solid;
	height:30px;
	background-color: purple;
	width:798px;
}

.offer-item-reviewed-content{
	width:760px;
	height:370px;
	margin-right: 20px;
	margin-top: 20px;
}

.offer-title-label{
	
}

.offer-value-label{
	margin-right:7px;
	color:gray;
	font-size: 12px;
	word-break:break-all;	
}

.offer-multi-value-label{
	margin-right:7px;
	float:none;
	color:gray;
	font-size: 12px;
	word-break:break-all;	
}

.offer-reviewed-item-line-image-container{
	float:right;
}

.offer-reviewed-item-description{
	float:left;
	width: 600px;
	margin-left: 5px;
}

.offer-item-treat-image{
	height:20px;
	width:20px;
}

#accept-offer-button{
	float:left;
	width: 100px;
	margin-bottom:10px;
}

.incoming-message{
	color:#181818;
	background-color:#E0E0E0;
	width: 800px;
	border:1px blue solid;
	padding:7px;
	margin-bottom: 20px;
}

.message-date{
	font-size: 10px;	
}

.outgoing-message{
	color:#181818;
	background-color:white;
	width: 800px;
	border:1px blue solid;
	padding:7px;
	margin-bottom: 20px;
	font-size: 12px;
}

.outgoing-message-empty{
	color:#707070;
	font-style: italic;
}

.outgoing-message-value{
	color:#181818;
	font-siza:14px;
}